<h1>All Places:</h1>

<ol>
  @foreach (Place place in Model)
  {
    <ul>
      <li>ID: @place.PlaceId</li>
      <li>Landmark: @place.Landmark</li>
      <li>City: @place.City</li>
      <li>Country: @place.Country</li>
      <li>Date: @place.Date</li>
    </ul>
    <a href="/Places/Details/@(place.PlaceId)">
      <p>View Details</p>
    </a>
    <br>
  }
</ol>